{% extends "gpro/base.html" %}

{% block content %}
    <section class="section">

<div class="tile is-ancestor">
  <div class="tile is-parent is-3">
    <article class="tile is-child box">
        <div class="buttons has-addons is-centered">
        <br><br><br><br><br><br> 
          <a href="gpro">
          <button class="button is-rounded is-large">
            GPRO Kalkulator
          </button>
          </a>
        <br><br><br><br><br><br>
        </div>
    </article>
  </div>
    <div class="tile is-parent is-3">
    <article class="tile is-child box">
        <div class="buttons has-addons is-centered">
        <br><br><br><br><br><br>
          <a href="login">
          <button class="button is-rounded is-large">
            Logowanie
          </button>
          </a>
        <br><br><br><br><br><br>
        </div>
    </article>
  </div>


    <div class="tile is-parent is-3">
    <article class="tile is-child box">
        <div class="buttons has-addons is-centered">
        <br><br><br><br><br><br>
          <a href="about">
          <button class="button is-rounded is-large">
            O stronie
          </button>
          </a>
        <br><br><br><br><br><br> 
        </div>
    </article>
  </div>


      <div class="tile is-parent is-3">
    <article class="tile is-child box">
        <div class="buttons has-addons is-centered">
        <br><br><br><br><br><br>  
          <a href="contact">
          <button class="button is-rounded is-large">
            Kontakt
          </button>
          </a>
        <br><br><br><br><br><br> 
        </div>
    </article>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-parent is-3">
    <article class="tile is-child box">
        <div class="buttons has-addons is-centered">
        <br><br><br><br><br><br> 
          <a href="https://www.facebook.com/NikolaBroyak/">
          <button class="button is-rounded is-large">
            Facebook
          </button>
          </a>
        <br><br><br><br><br><br>
        </div>
    </article>
  </div>
    <div class="tile is-parent is-3">
    <article class="tile is-child box">
        <div class="buttons has-addons is-centered">
        <br><br><br><br><br><br>
          <a href="https://github.com/NicoleBroyak">
          <button class="button is-rounded is-large">
            Github
          </button>
          </a>
        <br><br><br><br><br><br>
        </div>
    </article>
  </div>


    <div class="tile is-parent is-3">
    <article class="tile is-child box">
        <div class="buttons has-addons is-centered">
        <br><br><br><br><br><br>
          <a href="https://pl.linkedin.com/in/nikola-broyak-87ba77203">
          <button class="button is-rounded is-large">
            Linkedin
          </button>
          </a>
        <br><br><br><br><br><br> 
        </div>
    </article>
  </div>


      <div class="tile is-parent is-3">
    <article class="tile is-child box">
        <div class="buttons has-addons is-centered">
        <br><br><br><br><br><br>  
          <a href="https://www.instagram.com/nicolebroyak/">
          <button class="button is-rounded is-large">
            Instagram
          </button>
          </a>
        <br><br><br><br><br><br> 
        </div>
    </article>
  </div>
</div>


</section>
{% endblock %}