{% extends "gpro/base.html" %}

{% block content %}
    <section class="section is-mobile">

<div class="tile is-ancestor is-mobile">
  
  <div class="tile is-parent is-4 is-mobile">
    <article class="tile is-child box">
        <div class="buttons has-addons is-centered">
          <a class="button is-rounded" href="gpro">
            GPRO Kalkulator
          </a>
        </div>
    </article>
  </div>

  <div class="tile is-parent is-4 is-mobile">
    <article class="tile is-child box">
        <div class="buttons has-addons is-centered">
          <a href="login">
          <button class="button is-rounded">
            Logowanie
          </button>
          </a>
        </div>
    </article>
  </div>


    <div class="tile is-parent is-4 is-mobile">
    <article class="tile is-child box">
        <div class="buttons has-addons is-centered">
          <a href="about">
          <button class="button is-rounded">
            O stronie
          </button>
          </a>
        </div>
    </article>
  </div>
</div>


<div class="tile is-ancestor">
  <div class="tile is-parent is-4">
    <article class="tile is-child box">
        <div class="buttons has-addons is-centered"> 
          <a href="contact">
          <button class="button is-rounded">
            Kontakt
          </button>
          </a>
        </div>
    </article>
  </div>
    <div class="tile is-parent is-4">
    <article class="tile is-child box">
        <div class="buttons has-addons is-centered">
          <a href="https://github.com/NicoleBroyak">
          <button class="button is-rounded">
            Github
          </button>
          </a>
        </div>
    </article>
  </div>


    <div class="tile is-parent is-4">
    <article class="tile is-child box">
        <div class="buttons has-addons is-centered">
          <a href="https://pl.linkedin.com/in/nikola-broyak-87ba77203">
          <button class="button is-rounded">
            Linkedin
          </button>
          </a>
        </div>
    </article>
  </div>

</div>


<div class="tile is-ancestor">
  <div class="tile is-parent is-6">
    <article class="tile is-child box">
        <div class="buttons has-addons is-centered">
          <a href="https://www.facebook.com/NikolaBroyak/">
          <button class="button is-rounded">
            Facebook
          </button>
          </a>
        </div>
    </article>
  </div>


      <div class="tile is-parent is-6">
    <article class="tile is-child box">
        <div class="buttons has-addons is-centered">
          <a href="https://www.instagram.com/nicolebroyak/">
          <button class="button is-rounded">
            Instagram
          </button>
          </a>
        </div>
    </article>
  </div>
</div>


</section>
{% endblock %}