{% extends "gpro/base.html" %}
{% load bulma_tags i18n %}

{% block content %}

<div class="tile is-ancestor is-mobile"></div>
<div class="tile has-text-white">
  {% if form.errors %}
    <p>{% trans "Your username and password didn't match. Please try again." %}</p>
  {% endif %}

  <form class="has-text-white" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form|bulma }}
    <div class="field has-text-white">
      <button type="submit" class="button">{% trans 'Log in' %}</button>
    </div>
    <input type="hidden" name="next" value="{{ next }}"/>
  </form>
</div>
</div>

{% endblock %}